:root{
  margin: 0 ; 
  padding : 0 ;
}
*{
  margin: 0 ; 
  padding: 0 ; 
  box-sizing: border-box ;
  font-size: 10px;
}


/* Navbar styling */
.navbar{
  position: fixed; 
  top : 0 ; 
  left : 0 ; 
  width: 100% ; ;
  padding : 2rem ; 
  z-index : 2 ; 
  background-color: rgba(249, 245, 245 , 0.1) ; 
  border : 1px solid blue ; 
}


.home-div{
  position: relative;
  height: 100vh ; 
  z-index : 0 ; 
  width: 100vw;
  /* border : 1px solid blue ;  */
}
.home-div .inner-div{
  position: relative ;
  height: 100% ; 
  width: 100% ; 
  /* background: url('../public//istockphoto-1277280678-612x612.jpg'); */
  background-image: url('../public//istockphoto-1277280678-612x612.jpg');

  background-repeat: no-repeat;
  background-size: cover;

  /* border : 1px solid red ;  */
}
.home-div .innver-div .overlay-cnt {
  position: absolute;
  height: 100% ; 
  width: 100% ; 
  background: linear-gradient(45deg , rgba(33, 20, 20, 0.3) , rgba(60, 57, 57, 0.9)  );
  z-index : 2
}
